/* header
{
  display: flex;
  align-content: stretch;
} */
/* body
{ */
  /* background-image: url("../assets/images/a.jpg"); */
  /* background-color: cyan; */
/* } */
#abc
{
  text-align: center;

}
#style
{
  background-color: #EC7063;
  margin: auto;
  display: block;
}
#image
{
  margin:auto;
  display: flex;
  align-items: center;
  width: 80%;
  padding: 50px;
  margin-top: -10px;
}
#bremer
{
  width: 120px;
  height: 120px;
  /* position: absolute;
  left:100px; */
}
#list
{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width:768px) {
    #list img{
    width: 20%;
    /* height: 30px; */
    display: none;
  }
}
.def
{
  margin-top: 100px;
  margin-left: -500px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width:720px) {
  .def{
    text-align: center;
    /* margin-top: -180px;
    margin-left: 600px; */
    margin: auto;
  }
}
#third
{
  text-align: center;
  margin-top: -180px;
  margin-left: 600px;
}
@media screen and (max-width:720px) {
  #third{
    text-align: center;
    /* margin-top: -180px;
    margin-left: 600px; */
    margin: auto;
  }
}
 .ghi
 {
   background-color: #F8F9F9;
 }

#first
{
  height:80px;
  margin:auto;
  padding:10px;
}
#second
{
  margin-left: 100px;
}
@media screen and (max-width:720px) {
  #second{
    width: 10%;
    height: 10%;
    margin-left: 100px;
  }
}
#fourth
{
  background-color: #EC7063;
  margin-top: -50px;
  margin-left:700px;
  display: block;
}
@media screen and (max-width:720px) {
  #fourth{
    background-color: #EC7063;
    margin-top: -10px;
    margin-left:10px;
    display: block;
  }
}

.fourth
{
  background-color: #F9EBEA;
}
.foot
{
  margin-top: 50px;
  margin-left: 200px;
  list-style-type: none;
}
@media screen and (max-width:720px){
  .foot
  {
    margin-top: 50px;
    margin-left: 150px;
    list-style-type: none;
  }
}

.fifth
{
  margin-left:-200px;
}
@media screen and (max-width:720px){
  .fifth
  {
    margin-left:-140px;
  }
}
